
services:
  chronos-service:
    container_name: timeseries_forecast
    build:
      context: .              
      dockerfile: server/Dockerfile
    ports:
      - "5001:5001"           # 端口映射
    volumes:
      # Chronos-2 权重（建议只读挂载）
      - ./server/app/models/model_save/chronos_model:/app/server/app/models/model_save/chronos_model:ro
      # 微调模型保存目录（可写）
      - ./server/app/models/model_save/finetuned_models:/app/server/app/models/model_save/finetuned_models
      

    environment:
      - APP_NAME=Chronos_Forecast_Service
      - CHRONOS_MODEL_PATH=/app/server/app/models/model_save/chronos_model
      # === 开发模式配置 (当前开启) ===
      - ENVIRONMENT=dev
      - DEBUG=true          # 开启热重载，代码改动即生效
      - LOG_LEVEL=debug     #以此看到具体的预测数据流
      
      # === 生产模式配置 (上线时取消注释，注释掉上面的) ===
      # - ENVIRONMENT=prod
      # - DEBUG=false       # 关闭热重载，提升性能
      # - LOG_LEVEL=info    # 只记录关键信息，避免日志文件过大

    restart: unless-stopped
    # 如果您需要使用 GPU 且已安装 nvidia-container-toolkit，请取消下方注释
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: 1
    #           capabilities: [gpu]

  frontend:
    container_name: timeseries_forecast_frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - VITE_API_BASE_URL=http://localhost:5001
    ports:
      - "5173:80"
    depends_on:
      - timeseries_forecast
    restart: unless-stopped
